@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
body {
  font-family: 'Urbanist', sans-serif;
  overflow-x: hidden;
}

.navbar {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  height: 8vh;
  width: 99%;
  margin-left: -19px;
}

.left {
  flex: 1;
  display: flex;
  align-items: center;
}

.center {
  flex: 1;
  text-align: center;
}

.right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.language {
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  margin-left: 30px;
}

.language:hover {
  color: teal;
  cursor: pointer;
}

.search {
  border: 1px solid lightgray;
  display: flex;
  align-items: center;
  margin-left: 25px;
  padding: 5px;
}

.input input {
  border: none;
}

.shop-logo {
  background: url("./images/vmario-logo.jpeg");
  width: 5%;
  height: 9vh;
  margin-top: 26px;
  margin-left: 60px;
  background-size: cover;
  position: absolute;
}

.shop-logo2 {
  background: url("./images/vmario-logo.jpeg");
  width: 18%;
  height: 9vh;
  margin-top: -305px;
  margin-left: -205px;
  background-size: cover;
  position: absolute;
}

.shop-logo3 {
  background: url("./images/vmario-logo.jpeg");
  width: 18%;
  height: 9vh;
  margin-top: -220px;
  margin-left: -205px;
  background-size: cover;
  position: absolute;
}

.logo h1 {
  font-weight: bold;
  font-size: 2.5rem;
  font-family: 'Lobster', cursive;
}

.menuItem {
  display: flex;
}

.register {
  margin-left: 25px;
  font-weight: bold;
}

.register:hover {
  color: teal;
  cursor: pointer;
}

.signIn {
  margin-left: 25px;
  font-weight: bold;
}

.signIn:hover {
  color: teal;
  cursor: pointer;
}

.cart {
  margin-left: 25px;
  font-weight: bold;
  font-size: 1.2rem;
  margin-right: 30px;
}

.cart:hover {
  color: teal;
  cursor: pointer;
}

.searchIcon {
  color: gray;
  font-size: 16px;
}

.announcement {
  height: 30px;
  background-color: teal;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 500;
  margin-top: -8px; 
  margin-left: -19px;
  width: 102%;
}

.slider {
  width: 100%;
  height: 100vh;
  display: flex;
}

.leftArrow {
  width: 50px;
  height: 50px;
  background-color: #fff7f7;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  opacity: 0.5;
  z-index: 1;
}

.rightArrow {
  width: 50px;
  height: 50px;
  background-color: #fff7f7;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  margin-left: 1200px;
  opacity: 0.5;
}

.arrows {
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 10px;
  right: 10px;
  cursor: pointer; 
}

.wrapper {
  background: url('./images/ecommerce-bg.jpg');
  width: 100%;
  height: 100vh;
  margin-left: -25px;
  margin-top: 3px;
  position: absolute;
  background-size: cover;
}

.infoContainer {
  width: 30%;
  margin-left: 150px;
  margin-top: 50px;
}

.infoContainer h1 {
  color: teal;
  font-size: 4rem;
  font-weight: bold;
}

.infoContainer h2 {
  font-size: 4rem;
  font-weight: bold;
  margin-top: -40px;
}

.infoContainer p {
  font-size: 1.2rem;
  line-height: 25px;
  margin-top: -30px;
}

.infoContainer button {
  font-size: 1.1rem;
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 42px;
  padding-left: 42px;
  margin-top: 5px;
  background-color: teal;
  color: white;
  border: none;
  cursor: pointer;
}

.infoContainer button:hover {
  background-color: white;
  border: 1px solid teal;
  color: teal;
}

.shop {
  height: 50vh;
}

.boxes {
  display: flex;
  margin-top: 60px;
}

.box1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 24%;
  height: 32vh;
  background-color: teal;
  color: white;
  padding: 20px;
  border-radius: 5px;
  margin-left: 96px;
}

.delivery-icon {
  font-size: 3.5rem;
  margin-top: 10px;
}

.fast {
  text-align: center;
  margin-top: -20px;
  width: 75%;
}

.fast h3 {
  font-size: 1.3rem;
  margin-top: 8px;
}

.fast p {
  font-size: 1.1rem;
  margin-top: -10px;
  line-height: 22px;
}

.box2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 24%;
  height: 32vh;
  background-color: teal;
  color: white;
  padding: 20px;
  border-radius: 5px;
  margin-left: 30px;
}

.free-icon {
  font-size: 3.5rem;
  margin-top: 10px;
}

.free {
  text-align: center;
  margin-top: -20px;
  width: 75%;
}

.free h3 {
  font-size: 1.3rem;
  margin-top: 8px;
}

.free p {
  font-size: 1.1rem;
  margin-top: -10px;
  line-height: 22px;
}

.box3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 24%;
  height: 32vh;
  background-color: teal;
  color: white;
  padding: 20px;
  border-radius: 5px;
  margin-left: 30px;
}

.best-icon {
  font-size: 2.3rem;
  margin-top: 20px;
}

.best {
  text-align: center;
  margin-top: -20px;
  width: 75%;
}

.best h3 {
  font-size: 1.3rem;
  margin-top: 23px;
}

.best p {
  font-size: 1.1rem;
  margin-top: -10px;
  line-height: 22px;
}

.line {
  border-bottom: 6px solid black;
  width: 5%;
  margin-left: 624px;
  margin-top: -23px;
}

.shop h1 {
  margin-top: 70px;
  font-size: 3.2rem;
  text-align: center;
  color: teal;
}

.new-arrivals {
  background: url('./images/new-stock.jpg');
  width: 102%;
  height: 80vh;
  margin-left: -20px;
  margin-top: 160px;
  position: relative;
  background-size: cover;
}

.arrivalContainer {
  margin-left: 680px;
  margin-top: 100px;
  position: absolute;
  width: 34%;
}

.arrivalContainer h1 {
  font-size: 3.3rem;
  color: teal;
}

.arrivalContainer p {
  font-size: 1.2rem;
  line-height: 26px;
  margin-top: -15px;
}

.new {
  font-size: 1.1rem;
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 42px;
  padding-left: 42px;
  margin-top: 5px;
  background-color: teal;
  color: white;
  border: none;
  cursor: pointer;
}

.new:hover {
  background-color: white;
  border: 1px solid teal;
  color: teal;
}

.products {
  margin-top: 80px;
}

.our-products {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  font-weight: bold;
}

.line2 {
  border-bottom: 6px solid black;
  width: 5%;
  margin-left: 624px;
  margin-top: 13px;
}

.goods {
  color: teal;
  margin-left: 12px;
}

.img1 {
  background: url('./images/perfume1.jpeg');
  width: 55%;
  height: 34vh;
  margin-top: 20px;
  position: relative;
  background-size: cover;
}

.product1 {
  width: 25%;
  height: 58vh;
  background-color: rgb(243, 240, 240);
  align-items: center;
  display: flex;
  margin-left: 115px;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.text1 {
  display: flex;
  margin-top: 30px;
}

.price {
  margin-left: 155px;
  font-size: 1.2rem;
}

.label1 {
  font-size: 1.2rem;
  font-weight: bold;
}

.row1 {
  display: flex;
  margin-top: 55px;
}

.img2 {
  background: url('./images/perfume2.jpeg');
  width: 13%;
  height: 34vh;
  margin-top: -29px;
  position: absolute;
  background-size: cover;
}

.product2 {
  width: 25%;
  height: 58vh;
  background-color: rgb(243, 240, 240);
  align-items: center;
  display: flex;
  margin-left: 45px;
  flex-direction: column;
  justify-content: center;
}

.text2 {
  display: flex;
  margin-top: 264px;
  position: absolute;
}

.price2 {
  margin-left: 155px;
  font-size: 1.2rem;
}

.label2 {
  font-size: 1.2rem;
  font-weight: bold;
}

.img3 {
  background: url('./images/perfume3.jpeg');
  width: 13%;
  height: 34vh;
  margin-top: -29px;
  position: absolute;
  background-size: cover;
}

.product3 {
  width: 25%;
  height: 58vh;
  background-color: rgb(243, 240, 240);
  align-items: center;
  display: flex;
  margin-left: 45px;
  flex-direction: column;
  justify-content: center;
}

.text3 {
  display: flex;
  margin-top: 264px;
  position: absolute;
}

.price3 {
  margin-left: 155px;
  font-size: 1.2rem;
}

.label3 {
  font-size: 1.2rem;
  font-weight: bold;
}

.img4 {
  background: url('./images/perfume4.jpeg');
  width: 13%;
  height: 34vh;
  margin-top: 20px;
  position: absolute;
  background-size: cover;
}

.product4 {
  width: 25%;
  height: 58vh;
  background-color: rgb(243, 240, 240);
  align-items: center;
  display: flex;
  margin-left: 115px;
  flex-direction: column;
  justify-content: center;
}

.text4 {
  display: flex;
  margin-top: 264px;
  position: absolute;
}

.price4 {
  margin-left: 155px;
  font-size: 1.2rem;
}

.label4 {
  font-size: 1.2rem;
  font-weight: bold;
}

.row2 {
  display: flex;
  margin-top: 55px;
}

.img5 {
  background: url('./images/footwear1.jpeg');
  width: 13%;
  height: 34vh;
  margin-top: 20px;
  position: absolute;
  background-size: cover;
}

.product5 {
  width: 25%;
  height: 58vh;
  background-color: rgb(243, 240, 240);
  align-items: center;
  display: flex;
  margin-left: 45px;
  flex-direction: column;
  justify-content: center;
}

.text5 {
  display: flex;
  margin-top: 264px;
  position: absolute;
}

.price5 {
  margin-left: 155px;
  font-size: 1.2rem;
}

.label5 {
  font-size: 1.2rem;
  font-weight: bold;
}

.img6 {
  background: url('./images/footwear2.jpeg');
  width: 13%;
  height: 34vh;
  margin-top: 20px;
  position: absolute;
  background-size: cover;
}

.product6 {
  width: 25%;
  height: 58vh;
  background-color: rgb(243, 240, 240);
  align-items: center;
  display: flex;
  margin-left: 45px;
  flex-direction: column;
  justify-content: center;
}

.text6 {
  display: flex;
  margin-top: 264px;
  position: absolute;
}

.price6 {
  margin-left: 155px;
  font-size: 1.2rem;
}

.label6 {
  font-size: 1.2rem;
  font-weight: bold;
}

.img7 {
  background: url('./images/footwear3.jpeg');
  width: 13%;
  height: 34vh;
  margin-top: 20px;
  position: absolute;
  background-size: cover;
}

.product7 {
  width: 25%;
  height: 58vh;
  background-color: rgb(243, 240, 240);
  align-items: center;
  display: flex;
  margin-left: 115px;
  flex-direction: column;
  justify-content: center;
}

.text7 {
  display: flex;
  margin-top: 264px;
  position: absolute;
}

.price7 {
  margin-left: 155px;
  font-size: 1.2rem;
}

.label7 {
  font-size: 1.2rem;
  font-weight: bold;
}

.row3 {
  display: flex;
  margin-top: 55px;
}

.img8 {
  background: url('./images/footwear4.jpeg');
  width: 13%;
  height: 34vh;
  margin-top: 20px;
  position: absolute;
  background-size: cover;
}

.product8 {
  width: 25%;
  height: 58vh;
  background-color: rgb(243, 240, 240);
  align-items: center;
  display: flex;
  margin-left: 45px;
  flex-direction: column;
  justify-content: center;
}

.text8 {
  display: flex;
  margin-top: 264px;
  position: absolute;
}

.price8 {
  margin-left: 155px;
  font-size: 1.2rem;
}

.label8 {
  font-size: 1.2rem;
  font-weight: bold;
}

.img9 {
  background: url('./images/footwear5.jpeg');
  width: 13%;
  height: 34vh;
  margin-top: 20px;
  position: absolute;
  background-size: cover;
}

.product9 {
  width: 25%;
  height: 58vh;
  background-color: rgb(243, 240, 240);
  align-items: center;
  display: flex;
  margin-left: 45px;
  flex-direction: column;
  justify-content: center;
}

.text9 {
  display: flex;
  margin-top: 264px;
  position: absolute;
}

.price9 {
  margin-left: 155px;
  font-size: 1.2rem;
}

.label9 {
  font-size: 1.2rem;
  font-weight: bold;
}

.img10 {
  background: url('./images/footwear6.jpeg');
  width: 13%;
  height: 34vh;
  margin-top: 20px;
  position: absolute;
  background-size: cover;
}

.product10 {
  width: 25%;
  height: 58vh;
  background-color: rgb(243, 240, 240);
  align-items: center;
  display: flex;
  margin-left: 115px;
  flex-direction: column;
  justify-content: center;
}

.text10 {
  display: flex;
  margin-top: 264px;
  position: absolute;
}

.price10 {
  margin-left: 155px;
  font-size: 1.2rem;
}

.label10 {
  font-size: 1.2rem;
  font-weight: bold;
}

.row4 {
  display: flex;
  margin-top: 55px;
}

.img11 {
  background: url('./images/footwear7.jpeg');
  width: 13%;
  height: 34vh;
  margin-top: 20px;
  position: absolute;
  background-size: cover;
}

.product11 {
  width: 25%;
  height: 58vh;
  background-color: rgb(243, 240, 240);
  align-items: center;
  display: flex;
  margin-left: 45px;
  flex-direction: column;
  justify-content: center;
}

.text11 {
  display: flex;
  margin-top: 264px;
  position: absolute;
}

.price11 {
  margin-left: 155px;
  font-size: 1.2rem;
}

.label11 {
  font-size: 1.2rem;
  font-weight: bold;
}

.img12 {
  background: url('./images/footwear8.jpeg');
  width: 13%;
  height: 34vh;
  margin-top: 20px;
  position: absolute;
  background-size: cover;
}

.product12 {
  width: 25%;
  height: 58vh;
  background-color: rgb(243, 240, 240);
  align-items: center;
  display: flex;
  margin-left: 45px;
  flex-direction: column;
  justify-content: center;
}

.text12 {
  display: flex;
  margin-top: 264px;
  position: absolute;
}

.price12 {
  margin-left: 155px;
  font-size: 1.2rem;
}

.label12 {
  font-size: 1.2rem;
  font-weight: bold;
}

.view {
  font-size: 1.1rem;
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 42px;
  padding-left: 42px;
  margin-top: 45px;
  margin-left: 550px;
  background-color: teal;
  color: white;
  border: none;
  cursor: pointer;
}

.view:hover {
  background-color: white;
  border: 1px solid teal;
  color: teal;
}

.btn1 {
  position: absolute;
  top: 110px;
  right: 86px;
  background-color: teal;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 35px;
  padding-right: 35px;
  border-radius: 25px;
  color: white;
  font-size: 1.1rem;
  border: none;
  cursor: pointer;
}

.btn1:hover {
  background-color: white;
  color: teal;
  border: 1px solid teal;
}

.product1:hover {
  background: linear-gradient(rgba(182, 177, 182, 0.8), rgba(230, 227, 227, 0.8));
  cursor: pointer;
  background: #beb2b2;
}

.product2:hover {
  background: linear-gradient(rgba(182, 177, 182, 0.8), rgba(230, 227, 227, 0.8));
  cursor: pointer;
  background: #beb2b2;
}

.product3:hover {
  background: linear-gradient(rgba(182, 177, 182, 0.8), rgba(230, 227, 227, 0.8));
  cursor: pointer;
  background: #beb2b2;
}

.product4:hover {
  background: linear-gradient(rgba(182, 177, 182, 0.8), rgba(230, 227, 227, 0.8));
  cursor: pointer;
  background: #beb2b2;
}

.product5:hover {
  background: linear-gradient(rgba(182, 177, 182, 0.8), rgba(230, 227, 227, 0.8));
  cursor: pointer;
  background: #beb2b2;
}

.product6:hover {
  background: linear-gradient(rgba(182, 177, 182, 0.8), rgba(230, 227, 227, 0.8));
  cursor: pointer;
  background: #beb2b2;
}

.product7:hover {
  background: linear-gradient(rgba(182, 177, 182, 0.8), rgba(230, 227, 227, 0.8));
  cursor: pointer;
  background: #beb2b2;
}

.product8:hover {
  background: linear-gradient(rgba(182, 177, 182, 0.8), rgba(230, 227, 227, 0.8));
  cursor: pointer;
  background: #beb2b2;
}

.product9:hover {
  background: linear-gradient(rgba(182, 177, 182, 0.8), rgba(230, 227, 227, 0.8));
  cursor: pointer;
  background: #beb2b2;
}

.product10:hover {
  background: linear-gradient(rgba(182, 177, 182, 0.8), rgba(230, 227, 227, 0.8));
  cursor: pointer;
  background: #beb2b2;
}

.product11:hover {
  background: linear-gradient(rgba(182, 177, 182, 0.8), rgba(230, 227, 227, 0.8));
  cursor: pointer;
  background: #beb2b2;
}

.product12:hover {
  background: linear-gradient(rgba(182, 177, 182, 0.8), rgba(230, 227, 227, 0.8));
  cursor: pointer;
  background: #beb2b2;
}

.btn2 {
  position: absolute;
  top: 165px;
  right: 87px;
  background-color: teal;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 45px;
  padding-right: 45px;
  border-radius: 25px;
  color: white;
  font-size: 1.1rem;
  border: none;
  cursor: pointer;
}

.btn2:hover {
  background-color: white;
  color: teal;
  border: 1px solid teal;
}

.btn3 {
  position: relative;
  top: -30px;
  right: 1px;
  background-color: teal;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 25px;
  color: white;
  font-size: 1.1rem;
  border: none;
  cursor: pointer;
}

.btn3:hover {
  background-color: white;
  color: teal;
  border: 1px solid teal;
}

.btn4 {
  position: relative;
  top: -15px;
  right: 1px;
  background-color: teal;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 52px;
  padding-right: 52px;
  border-radius: 25px;
  color: white;
  font-size: 1.1rem;
  border: none;
  cursor: pointer;
}

.btn4:hover {
  background-color: white;
  color: teal;
  border: 1px solid teal;
}

.btn5 {
  position: relative;
  top: -30px;
  right: 1px;
  background-color: teal;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 25px;
  color: white;
  font-size: 1.1rem;
  border: none;
  cursor: pointer;
}

.btn5:hover {
  background-color: white;
  color: teal;
  border: 1px solid teal;
}

.btn6 {
  position: relative;
  top: -15px;
  right: 1px;
  background-color: teal;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 52px;
  padding-right: 52px;
  border-radius: 25px;
  color: white;
  font-size: 1.1rem;
  border: none;
  cursor: pointer;
}

.btn6:hover {
  background-color: white;
  color: teal;
  border: 1px solid teal;
}

.btn7 {
  position: relative;
  top: -30px;
  right: 1px;
  background-color: teal;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 25px;
  color: white;
  font-size: 1.1rem;
  border: none;
  cursor: pointer;
}

.btn7:hover {
  background-color: white;
  color: teal;
  border: 1px solid teal;
}

.btn8 {
  position: relative;
  top: -15px;
  right: 1px;
  background-color: teal;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 52px;
  padding-right: 52px;
  border-radius: 25px;
  color: white;
  font-size: 1.1rem;
  border: none;
  cursor: pointer;
}

.btn8:hover {
  background-color: white;
  color: teal;
  border: 1px solid teal;
}

.btn9 {
  position: relative;
  top: -30px;
  right: 1px;
  background-color: teal;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 25px;
  color: white;
  font-size: 1.1rem;
  border: none;
  cursor: pointer;
}

.btn9:hover {
  background-color: white;
  color: teal;
  border: 1px solid teal;
}

.btn10 {
  position: relative;
  top: -15px;
  right: 1px;
  background-color: teal;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 52px;
  padding-right: 52px;
  border-radius: 25px;
  color: white;
  font-size: 1.1rem;
  border: none;
  cursor: pointer;
}

.btn10:hover {
  background-color: white;
  color: teal;
  border: 1px solid teal;
}

.btn11 {
  position: relative;
  top: -30px;
  right: 1px;
  background-color: teal;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 25px;
  color: white;
  font-size: 1.1rem;
  border: none;
  cursor: pointer;
}

.btn11:hover {
  background-color: white;
  color: teal;
  border: 1px solid teal;
}

.btn12 {
  position: relative;
  top: -15px;
  right: 1px;
  background-color: teal;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 52px;
  padding-right: 52px;
  border-radius: 25px;
  color: white;
  font-size: 1.1rem;
  border: none;
  cursor: pointer;
}

.btn12:hover {
  background-color: white;
  color: teal;
  border: 1px solid teal;
}

.btn13 {
  position: relative;
  top: -30px;
  right: 1px;
  background-color: teal;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 25px;
  color: white;
  font-size: 1.1rem;
  border: none;
  cursor: pointer;
}

.btn13:hover {
  background-color: white;
  color: teal;
  border: 1px solid teal;
}

.btn14 {
  position: relative;
  top: -15px;
  right: 1px;
  background-color: teal;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 52px;
  padding-right: 52px;
  border-radius: 25px;
  color: white;
  font-size: 1.1rem;
  border: none;
  cursor: pointer;
}

.btn14:hover {
  background-color: white;
  color: teal;
  border: 1px solid teal;
}

.btn15 {
  position: relative;
  top: -30px;
  right: 1px;
  background-color: teal;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 25px;
  color: white;
  font-size: 1.1rem;
  border: none;
  cursor: pointer;
}

.btn15:hover {
  background-color: white;
  color: teal;
  border: 1px solid teal;
}

.btn16 {
  position: relative;
  top: -15px;
  right: 1px;
  background-color: teal;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 52px;
  padding-right: 52px;
  border-radius: 25px;
  color: white;
  font-size: 1.1rem;
  border: none;
  cursor: pointer;
}

.btn16:hover {
  background-color: white;
  color: teal;
  border: 1px solid teal;
}

.btn17 {
  position: relative;
  top: -30px;
  right: 1px;
  background-color: teal;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 25px;
  color: white;
  font-size: 1.1rem;
  border: none;
  cursor: pointer;
}

.btn17:hover {
  background-color: white;
  color: teal;
  border: 1px solid teal;
}

.btn18 {
  position: relative;
  top: -15px;
  right: 1px;
  background-color: teal;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 52px;
  padding-right: 52px;
  border-radius: 25px;
  color: white;
  font-size: 1.1rem;
  border: none;
  cursor: pointer;
}

.btn18:hover {
  background-color: white;
  color: teal;
  border: 1px solid teal;
}

.btn19 {
  position: relative;
  top: -30px;
  right: 1px;
  background-color: teal;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 25px;
  color: white;
  font-size: 1.1rem;
  border: none;
  cursor: pointer;
}

.btn19:hover {
  background-color: white;
  color: teal;
  border: 1px solid teal;
}

.btn20 {
  position: relative;
  top: -15px;
  right: 1px;
  background-color: teal;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 52px;
  padding-right: 52px;
  border-radius: 25px;
  color: white;
  font-size: 1.1rem;
  border: none;
  cursor: pointer;
}

.btn20:hover {
  background-color: white;
  color: teal;
  border: 1px solid teal;
}

.btn21 {
  position: relative;
  top: -30px;
  right: 1px;
  background-color: teal;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 25px;
  color: white;
  font-size: 1.1rem;
  border: none;
  cursor: pointer;
}

.btn21:hover {
  background-color: white;
  color: teal;
  border: 1px solid teal;
}

.btn22 {
  position: relative;
  top: -15px;
  right: 1px;
  background-color: teal;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 52px;
  padding-right: 52px;
  border-radius: 25px;
  color: white;
  font-size: 1.1rem;
  border: none;
  cursor: pointer;
}

.btn22:hover {
  background-color: white;
  color: teal;
  border: 1px solid teal;
}

.btn23 {
  position: relative;
  top: -30px;
  right: 1px;
  background-color: teal;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 25px;
  color: white;
  font-size: 1.1rem;
  border: none;
  cursor: pointer;
}

.btn23:hover {
  background-color: white;
  color: teal;
  border: 1px solid teal;
}

.btn24 {
  position: relative;
  top: -15px;
  right: 1px;
  background-color: teal;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 52px;
  padding-right: 52px;
  border-radius: 25px;
  color: white;
  font-size: 1.1rem;
  border: none;
  cursor: pointer;
}

.btn24:hover {
  background-color: white;
  color: teal;
  border: 1px solid teal;
}


/* Register modal */
body.active-modal {
  overflow-y: hidden;
}

.btn-modal {
  padding: 10px 20px;
  display: block;
  margin: 100px auto 0;
  font-size: 18px;
}

.modal, .overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(49,49,49,0.8);
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0,0,0,0.5);
  display: block;
  font-family: 'Raleway', sans-serif;
}

.modalContent {
  background: #f4f4f4;
  margin: 10% auto;
  width: 60%;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.2);
  position: relative;
  border-radius: 10px;
  height: 500px;
  display: flex;
  margin-top: 60px;
}

.modalImg {
  width: 80%;
  height: 80%;
  margin-left: 30px;
  margin-top: 30px;
}

.modalContentLeft {
  background: url('./images/new-arrivals.jpg');
  border-radius: 10px 0px 0px 10px;
  position: relative;
  background-size: cover;
  background-position: center;
  width: 60%;
  margin-left: -7px;
}

.modalContentLeft2 {
  background: url('./images/shopping.jpg');
  border-radius: 10px 0px 0px 10px;
  position: relative;
  background-size: cover;
  background-position: center;
  width: 60%;
  margin-left: -7px;
}

.modalContentRight {
  border-radius: 0 3px 3px 0;
  position: relative; 
}

.closeModal {
  z-index: 1;
  position: absolute;
  right: 3%;
  font-size: 1rem;
  margin-left: 5px;
  margin-top: 15px;
  font-weight: bold;
  color: teal;
  background: none;
  border: none;
}

.closeModal:hover {
  transition: 0.2s ease-out;
  color: rgb(45, 180, 180);
  cursor: pointer;
}

.logo2 {
  display: flex;
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Lobster', cursive;
  color: teal;
}

.vest2 {
  margin-left: 6px;
}

.modalForm {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formHead {
  font-size: 0.9rem;
  text-align: start;
  line-height: 20px;
  font-weight: 600;
  color: rgb(15, 15, 15);
  width: 80%;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.formValidation {
  margin-bottom: 0.5rem;
  width: 80%;
}

.formValidationError {
  margin-bottom: 1.5rem;
  position: relative;
  border: 1px solid var(--errorColor);
  border-radius: 2px;
}

.formValidationValid {
  margin-bottom: 0.5rem;
  position: relative;
  border: 1px solid var(--validColor);
  border-radius: 2px;
}

.formValidation p {
  font-size: 0.7rem;
  margin-top: 0.5rem;
  color: var(--errorColor);
  position: absolute;
  top: 1.8rem;
  display: none;
}

.formValidationError p {
  display: block;
}

.modalInput {
  display: block;
  padding-left: 0.5rem;
  outline: none;
  border-radius: 2px;
  border: none;
  height: 2rem;
  width: 100%;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.05);
}

.modalInput::placeholder {
  color: var(--lightGray);
}

.modalInputBtn {
  width: 80%;
  height: 2rem;
  border-radius: 2px;
  background-color: teal;
  outline: none;
  border: none;
  color: white;
  font-size: 0.8rem;
  font-weight: bold
}

.modalInputBtn:hover {
  cursor: pointer;
  background-color: rgb(45, 180, 180);
  transition: all 0.4s ease-out;
}

.modalInputLogin {
  font-size: 0.8rem;
  margin-top: 1rem;
  color: rgb(109, 107, 107);
  width: 80%;
  font-weight: 500;
  text-align: center;
}

.modalInputLogin a {
  text-decoration: none;
  color: teal;
  font-weight: 600;
}

.modalInputLogin2 {
  font-size: 0.8rem;
  margin-top: 1rem;
  color: rgb(109, 107, 107);
  width: 80%;
  font-weight: 500;
  text-align: center;
}

.modalInputLogin2 a {
  text-decoration: none;
  color: teal;
  font-weight: 600;
}



























